.fullscreen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.animation-window{
    overflow: hidden;
}
.lottie-animation{
    opacity: 1;
    z-index: 3;
}
.background-light{
    background-image: url('Background-Light.svg');
    background-size: cover;
    opacity: 0.1;
    z-index: 1;
}
.background-dark{
    background-image: url('Background-Dark.svg');
    background-size: cover;
    opacity: 0;
    z-index: 2;
    animation-name: fadein, fadein;
    animation-duration: 500ms,500ms;
    animation-delay: 20000ms,34000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
.foreground{
    background-image: url('Foreground.svg');
    opacity:1;
    z-index: 4;
    /* animation-name: fadeout, fadein;
    animation-duration: 18000ms, 30000ms;
    animation-delay: 0ms, 2000ms;
    animation-timing-function: ease-in, ease-out; */
}
.city-isometric{
    background-image: url('City-Isometric.svg');
    background-repeat: no-repeat;
    background-position: 50% ;
    transform: scale(8) translateY(10%);
    opacity: 0;
    animation-name:scaledown;
    animation-duration: 5000ms;
    animation-delay: 36000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.lottie-player{
    animation: player-shrink 5000ms 36000ms forwards;
}
.animation-text{
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 52px;
    z-index: 6;
}
.black-text{
    color:black
}
.white-text{
    color: white;
}
#text-1{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 2000ms,7000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-2{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 7600ms,12000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-3{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 12600ms,18000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-4{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 18600ms,22000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-5{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 22600ms,24000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-6{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 24600ms,27000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-7{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 27600ms,31000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-8{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 31600ms,35000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-9{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 35600ms,38000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-10{
    opacity: 0;
    animation-name: fadein, fadein;
    animation-duration: 600ms,600ms;
    animation-delay: 38600ms,45000ms;
    animation-timing-function: ease-in,ease-in;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}
#text-11{
    opacity: 0;
    animation-name: fadein, fadeout;
    /* animation-duration: 2000ms, 1000ms;
    animation-delay: 0ms, 2000ms;
    animation-timing-function: ease-in, ease-out; */
}
#text-12{
    opacity: 0;
    animation-name: fadein, fadeout;
    /* animation-duration: 2000ms, 1000ms;
    animation-delay: 0ms, 2000ms;
    animation-timing-function: ease-in, ease-out; */
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadeout{
    100%{
        opacity: 0;
    }
}
@keyframes player-shrink{
    10%{
        opacity: 1;
        transform: scale(1);
    }
    40%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0;
        transform: scale(1);
    }
    60%{
        opacity: 0;
        transform: scale(0.2);
    }
    100%{
        opacity: 1;
        transform: scale(0.2);
    }
}
@keyframes scaledown{
    10%{
        opacity: 1;
        transform: scale(8) translateY(10%);
    }
    40%{
        opacity: 1;
        transform: scale(8) translateY(10%);
    }
    50%{
        transform: scale(8) translateY(10%);
        opacity: 0;
    }
    60%{
        opacity: 0;
        transform: scale(1.5) translateY(14.4%);
    }
    100%{
        opacity: 1;
        transform: scale(1.5) translateY(14.4%);
    }
}